# ignore all directories and files in the build directory

.DS_Store
.Doxyfile.swp

build/**/*
Audio Engine/documentation/**/*

# more info about the .gitignore file:
# http://gitready.com/beginner/2009/01/19/ignoring-files.html
