# ignore all directories and files in the build directory

.DS_Store
build/**/*

Audio Engine/.DS_Store
Audio Engine/.Doxyfile.swp
Audio Engine/documentation/**/*

# more info about the .gitignore file:
# http://gitready.com/beginner/2009/01/19/ignoring-files.html