@charset "UTF-8";

/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td 
{ margin : 0; padding : 0; }

/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }

/* Removes list-style from lists */
ol,ul { list-style : none; }

/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var
{ font-style : normal; font-weight : normal; }


body
{
	margin: 0px;
	background-color: #fff;
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	min-width: 360px;
	text-align: left;
}

.main
{
  max-width: 700px;
	margin: auto;
}

.container
{
  margin: 10px 30px 0px 30px;
}


/* header
-------------------------------*/

#headerbox
{
	top: 0px; 
	left: 0px;
  padding-left: 5px;
  padding-bottom: 20px;
}

#navigationView > #headerbox
{
	height: 80px; 
	padding-top: -5px;
  padding-left: 25px;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#eee), color-stop(0.6, #ffffff));
  -webkit-background-origin: border;
	border-bottom: 1px solid #939393;
}

#iconbox
{
	float: left;
	margin-top: 12px;
	margin-left: 0px;
	margin-right: 10px;
}

.titlebox
{
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	text-align: left;
	padding-top: 28px;
}

#navigationView > #headerbox > .titlebox
{
	font-size: 20px;
	font-weight: normal;
	padding-top: 55px;
}

#breadcrumb
{
	width: 100%; 
	background-color: #aaa;
	padding-top: -2px;
	padding-left: 25px;
	padding-bottom: 2px;
	font-size: 90%;
	display: none;
}

#breadcrumb > a
{
	color: #000;
}

/* navigation
-------------------------------*/

#navigation
{
	clear: both;
	position: relative;
	left: 0px;
	padding-top: 10px;
	margin-right: 20px;
	padding-bottom: 20px;
}

li
{
  padding-top: 5px;
}

.nav-main
{
  width: 145px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid;
  border-color: #ccc;
}

.nav-main > a
{
    padding-left: 8px;
    font-size: 90%;
}

.nav-sub
{
	overflow: auto;
	padding: 15px 0px 0 0px;
	position: absolute;
  left: 180px;
	top: 0;
	bottom: 0;
  display: none;
}

.sel > ul
{
    display: block;
}

/* content
-------------------------------*/

#jsDisabled
{
	margin: 25px;
	font-size: 120%;
	color: #aaa;
}

#contentView
{
	display: none;
}

#content
{
	clear: both;
	position: relative;
	left: 0px;
	padding-top: 10px;
	margin-right: 20px;
}


#footer
{
  padding: 5px 0 0 5px;
  margin: 30px 30px 0px 30px;
	border-top: 1px solid #939393;
}

p { padding-top: 5px; padding-bottom: 5px; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

em { font-style: italic; }
/* links */

a {
	color: #aaa;
	text-decoration: none;
}

#footer > a
{
	color: #000;
}

.sel > a, .nav-sub > li > a {
	color: #000;
}

a:hover {
	text-decoration: underline;
}



